{
  "openapi": "3.0.1",
  "info": {
    "title": "ATICO API STORE",
    "description": "ATICO API 입니다",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.atico.co.kr:8000"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/member/signup": {
      "get": {
        "description": "회원가입",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "email을 입력하세요",
            "schema": {
              "type": "text",
              "format": "char"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "password를 입력하세요(3글자 이상)",
            "schema": {
              "type": "password",
              "format": "char"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Signup"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      
    "/member/login": {
      "post": {
        "description": "로그인",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "email을 입력하세요",
            "required": true,
            "schema": {
              "type": "text",
              "format": "char"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "password를 입력하세요",
            "required": true,
            "schema": {
              "type": "password",
              "format": "char"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {}
          },
          "400": {
            "description": "로그인 에러",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Signup": {
        "required": [
          "email","password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "description": "email",
            "type": "string"
          },
          "password": {
            "description": "password",
            "type": "password"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}