{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Member Store",
    "description": "A sample API that uses a Member store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.atico.co.kr:8000"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/member": {
      "get": {
        "description": "회원리스트 조회",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "pagination 사이즈",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/member/signup": {
      "post": {
        "description": "회원가입 ",
        "requestBody": {
          "description": "회원가입",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Member response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/member/login": {
      "post": {
        "description": "로그인",
        "requestBody": {
          "description": "로그인",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Member"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/member/{id}": {
      "delete": {
        "description": "Deletes a single Member based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Member to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Member": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "nickname": {
            "description": "이름",
            "type": "string"
          },
          "email": {
            "description": "이메일",
            "type": "string"
          },
          "password": {
            "description": "패스워드",
            "type": "password"
          },
          "token": {
            "description": "토큰",
            "type": "string"
          },
          "result": {
            "description": "결과",
            "type": "string"
          },
          "message": {
            "description": "응답 메시지",
            "type": "string"
          }
        }
      },
      "NewMember": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Member"
          },
          {
            "required": [
              "email","password"
            ],
            "type": "object",
            "properties": {
              "email": {
                "description": "EMAIL",
                "type": "string",
                "format": "char"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}